
.web-1920-1 {
  align-items: flex-start;
  background-color: 
#66bb7a;
  display: flex;
  height: 1080px;
  padding: 0 51px;
  width: 1920px;
}

.web-1920-1 .group-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 122px;
  margin-top: 298px;
  min-height: 452px;
  width: 925px;
}

.web-1920-1 .group-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 168px;
  width: 925px;
}

.web-1920-1 .group-5 {
  align-items: flex-end;
  display: flex;
  height: 147px;
  min-width: 927px;
}

.web-1920-1 .overlap-group {
  height: 155px;
  margin-bottom: -11px;
  position: relative;
  width: 927px;
}

.web-1920-1 .title {
  color: var(--white);
  font-family: var(--font-family-centurygothic-regular);
  font-size: var(--font-size-xl);
  left: 0;
  letter-spacing: 0;
  line-height: 97px;
  position: absolute;
  top: 38px;
  white-space: nowrap;
}

.web-1920-1 .welcome-to-the {
  color: var(--white);
  font-family: var(--font-family-centurygothic-regular);
  font-size: var(--font-size-l);
  left: 0;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.web-1920-1 .text-5 {
  color: var(--white);
  font-family: var(--font-family-centurygothic-regular);
  font-size: var(--font-size-xs);
  letter-spacing: 0;
  line-height: 18px;
  margin-top: 1px;
  min-height: 23px;
  white-space: nowrap;
}

.web-1920-1 .group-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 77px;
  min-height: 123px;
  width: 850px;
}

.web-1920-1 .text-2 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 2px;
  min-height: 30px;
  white-space: nowrap;
}

.web-1920-1 .text-3 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 3px;
  min-height: 30px;
  white-space: nowrap;
}

.web-1920-1 .group-4-item {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 1px;
  min-height: 30px;
  white-space: nowrap;
}

.web-1920-1 .flex-row {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 51px;
  margin-right: 131.0px;
  margin-top: 33px;
  min-width: 524px;
}

.web-1920-1 .group-2 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 25px;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  min-width: 211px;
  padding: 7px 51px;
}

.web-1920-1 .mint-now {
  letter-spacing: 0;
  line-height: 23px;
  min-height: 29px;
  min-width: 107px;
  white-space: nowrap;
}

.web-1920-1 .group-8 {
  align-items: flex-end;
  align-self: flex-end;
  background-color: var(--white);
  border-radius: 25px;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  margin-left: 102px;
  min-width: 211px;
  padding: 7px 61px;
}

.web-1920-1 .discord {
  letter-spacing: 0;
  line-height: 23px;
  min-height: 29px;
  min-width: 86px;
  text-align: center;
  white-space: nowrap;
}

.web-1920-1 .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 67px;
  margin-top: 36px;
  min-height: 786px;
  width: 704px;
}

.web-1920-1 .text-1 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 24px;
  min-height: 30px;
  min-width: 407px;
  white-space: nowrap;
}

.web-1920-1 .no-path-copy {
  height: 524px;
  margin-top: 232px;
  object-fit: cover;
  width: 524px;
}

@font-face {
  font-family: "CenturyGothic-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.animaapp.com/CenturyGothic-Regular") format("truetype");
}
.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}
